In [1]:
import pandas as pd
import pandas as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("PotatoPrice.csv")

In [3]:
df

   potato_kg  price
0          1     10
1          2     20
2          3     25
3          4     40
4          5     55
5          6     75
6          7     90
7          8    100
8          9    115
9         10    120